

<div class='border'> <label for="">Balance:</label>{{getTotalAmount()}}</div>
<div class='border'>
 
  <label for="">Number of notes:</label>

<li *ngFor='let c of currencies;let i = index;'>
   {{c.value}}:{{c.count}}
</li>
</div>
<div class='border'><label for="">Insert money to ATM:</label>
<div *ngFor='let c of currenciesInput;'>
    {{c.value}}:
    <input [(ngModel)]="c.count" type="text">
</div>
<div><button (click)="insertMoney()">ADD</button></div></div>

<div class='border'><label for="">Get money from ATM:</label>
<div><label for=""></label><input type="text" #inputMoney  name="inputMoney"></div>
<div><button (click)="getMoney(inputMoney.value)">GET</button></div>
</div>
<div class='border'><label for="">Add new currency to ATM:</label>
<div><input type="text" #newCurrency></div>
<div><button (click)="addNewCurrency(newCurrency.value)">ADD</button></div>
</div>

<div class='border'><label for="">Remove existing currency from ATM: </label>

    <select #removeCurrency>
        <option *ngFor="let option of currenciesInput;">
            {{ option.value }}
        </option>
      </select>


<div><button (click)="removeOldCurrency(removeCurrency.value)">REMOVE</button></div></div>
<router-outlet></router-outlet>


<router-outlet></router-outlet>
